version 5.122.3
source c:\Users\tarmil\localnuget
source https://api.nuget.org/v3/index.json
source https://nuget.intellifactory.com/nuget username: "%IF_USER%" password: "%IF_PASS%"

storage: none

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget Owin prerelease
nuget Microsoft.Owin
nuget WebSharper.Html prerelease
nuget Microsoft.Owin.Diagnostics 
nuget Microsoft.Owin.FileSystems 
nuget Microsoft.Owin.Host.HttpListener 
nuget Microsoft.Owin.Hosting 
nuget Microsoft.Owin.SelfHost 
nuget Microsoft.Owin.StaticFiles 
nuget FSharp.Core

group build
    framework: net45
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core 5.122.3

group wsbuild
    git https://github.com/dotnet-websharper/build-script
