source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

strategy: min
storage: none

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.Html prerelease
nuget Owin
nuget Microsoft.Owin 3.0.0
nuget Microsoft.Owin.Diagnostics 3.0.0
nuget Microsoft.Owin.FileSystems 3.0.0
nuget Microsoft.Owin.Host.HttpListener 3.0.0
nuget Microsoft.Owin.Hosting 3.0.0
nuget Microsoft.Owin.SelfHost 3.0.0
nuget Microsoft.Owin.StaticFiles 3.0.0
nuget FSharp.Core ~> 4.2.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
